<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="GSG" value="https://gsgfintech.pkgs.visualstudio.com/_packaging/GSG/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GSG>
      <add key="Username" value="gsg-function-app-1-cd" />
      <add key="Password" value="bkmskjq5zeim7ei2fdqkyo72bifapeipb5sjyklg4hkxbobz2lpq" />
    </GSG>
  </packageSourceCredentials>
</configuration>