<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="Syncfusion" value="http://nuget.syncfusion.com/nuget_aspnetcore/nuget/getsyncfusionpackages/aspnetcore" />
    <add key="GSG" value="https://gsgfintech.pkgs.visualstudio.com/_packaging/GSG/nuget/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="GSG" value="NUGET_GSG_PAT" />
  </apikeys>
</configuration>